name: validate
on:
  push:
    tags:
      - v*
    branches:
      - main
      - release-*
  pull_request:
env:
  GO_VERSION: 1.20.x

jobs:
  lint:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "${{ env.GO_VERSION }}"
          cache: false # golangci-lint-action does its own caching
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.53
